@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Outfit:wght@100..900&display=swap');

body {
  background-color: #F9FCF8;
  font-family: 'Outfit';
  padding-top: 80px; 
}

header, nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff !important;
  font-family: 'Outfit';
}

.navbar-nav .nav-link.active {
  font-weight: 700;
  color: #1a1a1a;
}