body {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Layout tổng */
.checkout-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  gap: 20px;
}

/* LEFT - Delivery & Payment */
.checkout-left {
  flex: 2;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.checkout-left h2 {
  font-size: 26px;
  font-weight: 700;
  margin: 5px 0 20px;
  text-transform: uppercase;
}

/* Floating label input */
.floating-label {
  position: relative;
  margin-bottom: 20px;
}

.floating-label input {
  width: 100%;
  padding: 14px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: none;
  outline: none;
  transition: border-color 0.2s ease;
}

.floating-label input:focus {
  border-color: #7bb37d;
  background-color: #fff;
}

.floating-label label {
  position: absolute;
  left: 14px;
  top: 14px;
  color: #999;
  font-size: 14px;
  background-color: #fff;
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.2s ease;
}

/* Label bay lên khi focus hoặc có nội dung */
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: -7px;
  left: 10px;
  font-size: 12px;
  color: #7bb37d;
}

/* Vòng tròn radio */
.custom-radio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-radio input {
  display: none;
}

/* Hình tròn radio */
.radio-mark {
  height: 14px;
  width: 14px;
  /* không bị méo khi box co giãn */
  flex-shrink: 0; 
  border: 3px solid #bfbfbf;
  border-radius: 50%;
  position: relative;
  transition: all 0.2s ease-in-out;
}

/* Khi checked → đổi màu như hình bạn gửi */
.custom-radio input:checked + .radio-mark {
  border-color: #5d9b64;
}

/* Khi hover vào radio */
.custom-radio:hover .radio-mark {
  border-color: #abd1a8;
}

/* Delivery & Payment options */
.option-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 14px 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.option-box:hover {
  background-color: #f3f8f3;
}

.option-box input {
  margin-right: 8px;
}

.option-box.active,
.option-box:has(input:checked) {
  border-color: #3DA547;
  background-color: #e4f1e4;
}

/* RIGHT - Order */
.checkout-right {
  flex: 1.25;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-detail,
.order-summary {
  background: #f4f8f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
}

.order-detail h3,
.order-summary h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.order-item img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  margin-right: 15px;
}

.order-item-info h4 {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}

.order-item-info p {
  font-size: 12px;
  color: #777;
  margin: 6px 0;
}

.order-item-price {
  margin-top: 10px;
  font-weight: bold;
  color:  #333;
}

.order-item-qty {
  font-size: 14px;
  color: #000;
  align-self:flex-end;
}

.summary-item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 14px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  padding-top: 10px;
}

.discount-code {
  display: flex;
  margin-top: 10px;
  gap: 6px;
}

.discount-code input {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
}

.discount-code button {
  background-color: #86b78f;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.discount-code button:hover {
  background-color: #33773e;
}

.place-order {
  margin-top: 15px;
  width: 100%;
  background-color: #7bb37d;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.place-order:hover {
  background-color: #33773e;
}
  
hr {
    border-top: 1px solid #e2e6e8;
    margin-top: 20px;
    margin-bottom: 20px;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important; /* đổi white thành màu nền bạn muốn */
  -webkit-text-fill-color: black !important; /* màu chữ */
  transition: background-color 5000s ease-in-out 0s; /* tránh nhấp nháy */
}

a {
  text-decoration: none;
  color: #fff;
}
